@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 50px;
}
.container{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 700px;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
header{
    position: absolute;
    top: -50px;
    left: 20;
    right: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
}
header .logo{
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.5s;
}
header .logo:hover{
    color: rgb(255, 255, 255);
}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
    margin: 0 10px;
}
header ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 25px;
}
header ul li a:hover,
header ul li a.active{
    background: rgb(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
}
.content{
    transform: translateX(-100px);
    max-width: 700px;
    z-index: 1;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.1);
    border-top: 1px solid rgba(255,255,255,0.1);
    border-left: 1px solid rgba(255,255,255,0.1);
    padding: 50px;
    padding-left: 110px;
}
.content h2{
    font-size: 3em;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.content p{
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 20px;
}
.content a{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    margin-top: 20px;
    font-size: 1.2em;
}
.gender{
    position: absolute;
    left: 75%;
    bottom: 50px;
    transform: translateX(-50%);
    display: flex;
}
.gender li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.gender li:hover{
    transform: translateY(-15px);
}
.gender .female img{
  width: 350px;
  height: 700px;
}
.gender .male img{
  width: 280px;
  height: 700px;
}
.social{
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social li{
    list-style: none;
}
.social li a{
    display: inline-block;
    transform: scale(0.6);
    margin: 10px 0;
    filter: invert(1);
}
.social li a img{
    max-width: 50px;
    transition: 0.5s;
}